* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
:root {
    --main-color: rgb(114, 156, 128);
    --border-red: 1px solid red;
}
.page_container {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px var(--main-color);
    overflow: hidden;
}
main {
    padding: 0px 20px;
}
.hidden {
    display: none;
}

header {
    display: flex;
    gap: 5rem;
    padding: 2rem;
    background-color: var(--main-color);
    margin-bottom: 5rem;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav ul>li {
    margin-right: 1rem;
    font-size: 0.9rem;
}
.main-info {
    padding: 0 20px;
    

}

.main-info__section {
    display: flex;
    gap: 1rem;
}


.main-info__photo {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px var(--main-color);
    
    
}
.main-info__block {
    display: flex;
    flex-direction: row;
    position: relative;   
}

.main-info__block::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(3, 155, 28, 0.2);
    bottom: 15px;
    right: -5rem;
    z-index: 0;
}

.main-info__block::after {
    position: absolute;
    content: "";
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(3, 155, 28, 0.1);
    top: -10rem;
    right: 5rem;
    z-index: 0;
    animation: circle-run 10s infinite ease-in-out;
}

.about p{
    margin-bottom: 1rem;

}
.social_media_dash {
    background-color: rgb(114, 156, 128);
    display: flex;
    justify-items: flex-end;
}


.social_media_icons {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.icon {
    padding: 0.5vw;
}

a > img {
    width: 2rem;  
}

figure img{
    display: block;
    height: auto;
    width: 100%;   
}

.main-info__header {
    position: relative;
}

.profession {
    position: absolute;
    bottom: -0.9rem;
    left: 50%;
    margin-right: -50%;
    padding: 0 15px;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
}

.name {
    max-width: 40%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: 0.7rem solid var(--main-color);
    border-radius: 10px;
    padding: 1.2rem;
    margin-bottom: 5rem;
}
.name:hover,
.profession:hover, 
a:hover{
    text-shadow: 0 5px 5px var(--main-color);
}

.contacts{
    padding: 20px;
    margin: 0 auto;   
}

.contacts li {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 1rem;   
    position: relative;
    cursor: pointer;
}

.contacts li:before {
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #f3e51b;
    content: "";
    left: -10px;
    transition: .2s ease-in-out;
    top: 15px;
    box-shadow: 0 0 5px 1px rgb(33, 53, 37)
  }
  .contacts li:after {
    position: absolute;
    border-left: 1px solid #4F5151;
    width: 1px;
    height: 35px;
    bottom: -12px;
    content: "";
    left: -2px;
    top: 37px;
  }
  .contacts li:hover:before{
      box-shadow: 0 0 0 5px rgba(3, 155, 28, 0.2)
    }
  .contacts li:last-child:after {
      content: none;
    }

@keyframes circle-run {
    from {
        top: 100px;
        animation-timing-function: ease-in-out;
      }
      25% {
        top: 250px;
        animation-timing-function: ease-in-out;
      }
      50% {
        top: 400px;
        left: 50px;
        animation-timing-function: ease-in-out;
      }
      75% {
        top: 75px;
        animation-timing-function: ease-in-out;
      }
      to {
        top: 100px;
      }
    
}

/*portfolio*/
.portfolio {
    padding-top: 2rem;
}
.portfolio-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: space-around; 
    row-gap: 1rem;
}
.wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    column-gap: 1rem;
    max-width: 90%;
    margin: 0 auto;
    background-color: rgba(214, 233, 218, 0.5);
    padding: 1rem;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.portfolio-item {
    flex-basis: 50%;
}

.portfolio-item a>img {
    min-height: 5rem;
    height: 12rem;
    width: auto;
}
  .info_item {
    margin: 3vh;
    line-height: 1.5rem;
    grid-area: main_content;
}
h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.info_item h2 {
    margin-bottom: 1rem;
}
   
.info_item p,
.info_item ul {
    line-height: 1.5rem;
}

footer {
    background-color: rgb(114, 156, 128);
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    line-height: 1.5em;
}

footer img {
    min-width: 10vh;
    max-height: fit-content;
}

@media (max-width: 1600px){
    .page_container {
        width: 80%;
    }
    .main{
        text-align: center;
    }
    .code {
        text-align: center;
    }
    .code pre {
        display: inline-block;
        margin: 0 auto;
        text-align: left;
    }

    .main_info {
        flex-direction: column;
    }
    a > img {
        width: 2rem;  
        margin-bottom: 10px;
    }

}

@media (max-width: 1024px) {
    .page_container {
        width: 95%;
    }

    .social_media_dash {
        min-width: 10%;   
    }
    a > img {
        width: 3vw;  
        margin-bottom: 10px;
    }
}

@font-face {
    font-family: "Ubuntu", sans-serif; 
    src: url("../rsschool-cv/Fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }
