* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Ubuntu", sans-serif;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}


.page_container {
    max-width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "aside header header"
    "aside main_content main_content"
    "aside main_content main_content"
    "footer footer footer";
    grid-template-columns: repeat (3, 1fr);
    grid-auto-rows: auto;
    gap: 3rem;
    background-color: white;
    box-shadow: 0 0 10px rgb(114, 156, 128);
}


.main_info {
    display: flex;
    flex-direction: row;
    grid-area: aside;
    
}

.social_media_dash {
    background-color: rgb(114, 156, 128);
    margin-left: 5px;
}

.social_media_dash::after {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
    
}
.social_media_icons {
    display: inline-block;
    vertical-align: bottom;
}
.icon {
    padding: 10px;
}

a > img {
    width: 30px;
    height: 30px;
    
}
.main-info_contacts{
    padding: 20px;
    margin: 0 auto;   
}

.contact {
    margin-top: 15px;
    margin-bottom: 15px;    
}

figure {
    background-image: url("./photo.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 17rem;
    height: 17rem;
    border-radius: 100%;  
}

/*main*/
main {
    max-width: 90%;
    padding: 0 5rem;
    text-align: left;
}

header {
    padding: 5vh 0;
    max-width: max-content;
    position: relative;
    margin: 0 auto;
    grid-area: header;
    
}
.name {
    text-align: center;
    font-size: 3vh;
    text-transform: uppercase;
    border: 5px solid rgb(114, 156, 128);
    padding: 2vh;
}

.profession {
    position: absolute;
    top:125px;
    left: 50%;
    margin-right: -50%;
    padding: 0 15px;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
}
.aside,
.aside_info_item {
    grid-area: aside; 
}

.main {
    grid-area: main_content;
}

.info_item {
    margin: 3vh;
    line-height: 1.5rem;
    grid-area: main_content;
}

.info_item h2 {
    margin-bottom: 1rem;
}
   
.info_item p,
.info_item ul {
    line-height: 1.5rem;
}

footer {
    background-color: rgb(114, 156, 128);
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    line-height: 1.5em;
}

footer img {
    min-width: 150px;
    max-height: fit-content;

}

@font-face {
    font-family: "Ubuntu", sans-serif; 
    src: url("../rsschool-cv/Fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 